body {
    font-family: Arial, sans-serif;
    background-color: #eeeeee;
    text-align: center;
}

.contenedor {
    width: 400px;
    margin: 100px auto;
    background-color: white;
    padding: 20px;
    border: 1px solid #cccccc;
}

button {
    padding: 10px;
    background-color: blue;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: darkblue;
}
